{% extends "classroomOptimizer/base.html" %}
{% block content %}
<main role="main" class="container">
    <style>
        table {
            margin-left: auto;
            margin-right: auto;
            width: 500px;
            border: 1px solid black;
        }
        td {
            height: 50px;
            position: relative;
            border: 1px solid black;
        }
        td .content {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    </style>
    
        
    
    <div class="content-section">
        <p>
            White = the area is empty and available
            <br>
            Red = the area is unavailable (has a column or wall or something not-movable)
            <br>
            Green = the area is occupied by a table
            <br>
            Blue = the area is occupied by a chair
            <br>
            Orange = the area is occupied by some equipment
        </p>
        <table><tbody id="tbody"></tbody>
        
    </div>
</main>
{% endblock content %}

{% block scripts %}
<script>
    var example = JSON.parse("{{classroom}}");
    function getExample()  
    {  
        for(i = 0; i < example.length; i++){
            for(j = 0; j < example[i].length; j++){
                if(example[i][j] == 0){
                    var id = i + " " + j;
                    document.getElementById(id).style.backgroundColor='White';
                }
                else if(example[i][j] == 1){
                    var id = i + " " + j;
                    document.getElementById(id).style.backgroundColor='Red';
                }
                else if(example[i][j] == 2){
                    var id = i + " " + j;
                    document.getElementById(id).style.backgroundColor='Green';
                }
                else if(example[i][j] == 3){
                    var id = i + " " + j;
                    document.getElementById(id).style.backgroundColor='Blue';
                }
                else if(example[i][j] == 4){
                    var id = i + " " + j;
                    document.getElementById(id).style.backgroundColor='Orange';
                }
            }
        }
    }

    $(document).ready(function() {

        buildTable(example.length, example[0].length);
        getExample();
    });

    function buildTable(height, width) {
        $("#tbody").html('');
        for(var i = 0 ; i < height ; i++) {
            var tr = $("#tbody").append("<tr></tr>");
            for(var j = 0 ; j < width ; j++) {
                var td = tr.append(`<td id="${i} ${j}" style="height :25px; width 25px">&nbsp;</td>`);
                
            }
        }
    }

</script>
{% endblock %}