{% extends "classroomOptimizer/base.html" %}
{% block content %}
<main role="main" class="container">
    <style>
        table {
            margin-left: auto;
            margin-right: auto;
            width: 700px;
            border: 1px solid black;
        }
        td {
            height: 50px;
            position: relative;
            border: 1px solid black;
        }
        td .content {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .box {
            height: 20px;
            width: 20px;
            border: 1px solid black;
            display: inline-block;
        }
        
        .red {
            background-color: red;
        }
        
        .green {
            background-color: green;
        }
        
        .blue {
            background-color: blue;
        }
    </style>
    
        
    
    <div class="content-section">
        <p>
            <div class="box"></div> &nbsp; = the area is empty and available
            <br>
            <div class="box red"></div> &nbsp; = the area unavailable (wall/blocked/etc)
            <br>
            <div class="box green"></div> &nbsp; = the area is occupied by a table
            <br>
            <div class="box blue"></div> &nbsp; = the area is occupied by a chair
            <br>
        </p>
        <table><tbody id="tbody"></tbody>
        
    </div>
</main>
{% endblock content %}

{% block scripts %}
<script>
    var example = JSON.parse("{{classroom}}");
    function getExample()  
    {  
        for(i = 0; i < example.length; i++){
            for(j = 0; j < example[i].length; j++){
                if(example[i][j] == 0){
                    var id = i + " " + j;
                    document.getElementById(id).style.backgroundColor='White';
                }
                else if(example[i][j] == 1){
                    var id = i + " " + j;
                    document.getElementById(id).style.backgroundColor='Red';
                }
                else if(example[i][j] == 2){
                    var id = i + " " + j;
                    document.getElementById(id).style.backgroundColor='Green';
                }
                else if(example[i][j] == 3){
                    var id = i + " " + j;
                    document.getElementById(id).style.backgroundColor='Blue';
                }/*
                else if(example[i][j] == 4){
                    var id = i + " " + j;
                    document.getElementById(id).style.backgroundColor='Orange';
                }*/
            }
        }
    }

    $(document).ready(function() {

        buildTable(example.length, example[0].length);
        getExample();
    });

    function buildTable(height, width) {
        var styleWidth = $("#tbody").width() / width;

        $("#tbody").html('');
        for(var i = 0 ; i < height ; i++) {
            var tr = $("#tbody").append("<tr></tr>");
            for(var j = 0 ; j < width ; j++) {
                var td = tr.append(`<td id="${i} ${j}" style="height : ${styleWidth}px; width ${styleWidth}px">&nbsp;</td>`);
                
            }
        }
    }

</script>
{% endblock %}