{% extends "classroomOptimizer/base.html" %}
{% block content %}
<main role="main" class="container">
<div class="row">
<div class="col-md-8">
{% for post in posts %}
    
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2">{{ post.author }}</a>
        </div>
        <h2><a class="article-title">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
        </div>
    </article> 
{% endfor %}
<style>
    table {
        margin-left: auto;
        margin-right: auto;
        width: 690px;
        border: 1px solid black;
    }
    td {
        position: relative;
        border: 1px solid black;
    }
    td:hover {
        background-color: pink;
    }
    td .content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .box {
        height: 20px;
        width: 20px;
        border: 1px solid black;
        display: inline-block;
    }
    
    .red {
        background-color: red;
    }
    
    .green {
        background-color: green;
    }
    
    .blue {
        background-color: blue;
    }
    
</style>
<div class="content-section">
    <p>
        <strong>Please select classroom constraints. </strong>
        <br>
        <div class='box'></div> &nbsp; = the area is available
        <br>        
        <div class="box red"></div> &nbsp; = area is blocked (wall/structure/etc)
        <br>
    </p>
    <div style="text-align: center;">
        Length (ft)   
        <input type="number" min="10" max="40" id="tableHeight" value="10"/>
        x Width (ft)
        <input type="number" min="10" max="40" id="tableWidth" value="10"/>
        <br>
        <br>
        <input type="submit" id="tableUpdate" value="Update and Clear">
        <br>
        <br>
    </div>
    <table><tbody id="tbody"></tbody></table>
</div>
</div>
    <div class="col-md-4">
        <div class="content-section">
            <h3>Inputs</h3>
            <p class='text-muted'>Enter the number of tables and chairs
            <ul class="list-group"></ul>
                <form action=about/ method=POST id="form">
                    {% csrf_token %}
                    Tables<br>
                    <input type="number" min="0" max="10" name="numTables" value="0"/><br>
                    Length x Width of Tables<br>
                    <input type="number" min="1" max="10" name="tableL" value="1"/>
                    ft x
                    <input type="number" min="1" max="10" name="tableW" value="1"/>
                    ft
                    <br>
                    Chairs<br>
                    <input type="number" min="1" max="10" name="numChairs" value="1"/>
                    <input type="hidden" name="available" value=""/>
                    <!--<br>
                        
                    <label>Equipment</label>
                    <input id="numEquip" placeholder="Enter number of Equipment" value="0"/>
                    <label>Length x Width of Equipment</label>
                    <div style="margin: 5px;">
                        <input id="equipL" placeholder="Length" style="width: 75px" value="0"/>
                        ft x
                        <input id="equipW" placeholder="Width" style="width: 75px" value="0"/>
                        ft
                    </div>
                    <br>-->
                    <br>
                    <br>
                    <input type="submit" id="submit">
                </form>
            </ul>
            </p>
        </div>
    </div>
</div>
</main>

{% endblock content %}

{% block scripts %}

<script>
    var available = Array(10).fill().map(() => Array(10).fill(0));
    function clickHandler(e) {
        ChangeColor(e.target.id);
    }
    $(document).ready(function() {

        buildTable(10, 10);
        
    });
    
    function buildTable(height, width) {
        //var row = parseInt(document.getElementById("tableHeight").value);
        //var column = parseInt(document.getElementById("tableWidth").value);
        available = Array(parseInt(height)).fill().map(() => Array(parseInt(width)).fill(0));
        $("#tbody").html('');
        $("#tbody").off("click", "td", clickHandler);
       /* $("#tbody td").on('click', e => {
             ChangeColor($(this).attr('id'))
        });*/
        
        var styleWidth = $("#tbody").width() / width;
        
        for(var i = 0 ; i < height ; i++) {
            var tr = $("#tbody").append("<tr></tr>");
            for(var j = 0 ; j < width ; j++) {
                var td = tr.append(`<td id="${i}-${j}" style="height : ${styleWidth}px; width ${styleWidth}px">&nbsp;</td>`);
            }
        }
        $("#tbody").on("click", "td", clickHandler);
    }

    function ChangeColor(id)  
    {  
        var index = id.split("-");
        if(available[index[0]][index[1]] == 0){
            document.getElementById(id).style.backgroundColor='Red';
            available[index[0]][index[1]] = 1;
        }
        else {
            document.getElementById(id).style.backgroundColor='White';
            available[index[0]][index[1]] = 0;
        }
    }

    document.getElementById("tableUpdate").addEventListener("click",
        e => { buildTable($("#tableHeight").val(), $("#tableWidth").val()) }
    )
    document.getElementById("submit").addEventListener("click", 
        e => {
            console.log(e); 
            $("input[name=available]").val(JSON.stringify(available));
           // e.preventDefault();
            /*
            var formData = {available: available,
                numTable: $("input[name=numTables]").val(),
                tableL: $("input[name=tableL]").val(),
                tableW: $("input[name=tableW]").val(),
                numChairs: $("input[name=numChairs]").val(),
            }*/
        });
    document.getElementById("form").addEventListener("sumbit",
    e =>  { e.preventDefault() })
</script>
{% endblock scripts %}