{% extends "classroomOptimizer/base.html" %}
{% block content %}
<main role="main" class="container">
<div class="row">
<div class="col-md-8">
{% for post in posts %}
    
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
        </div>
    </article> 
    <style>
        table {
            margin-left: auto;
            margin-right: auto;
            width: 500px;
            border: 1px solid black;
        }
        td {
            height: 50px;
            position: relative;
            border: 1px solid black;
        }
        td:hover {
            background-color: pink;
        }
        td .content {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    </style>

    <script language="javascript">  
        var available = [
            [0,0,0,0,0,0,0,0,0,0],
            [0,0,0,0,0,0,0,0,0,0],
            [0,0,0,0,0,0,0,0,0,0],
            [0,0,0,0,0,0,0,0,0,0],
            [0,0,0,0,0,0,0,0,0,0],
            [0,0,0,0,0,0,0,0,0,0],
            [0,0,0,0,0,0,0,0,0,0],
            [0,0,0,0,0,0,0,0,0,0],
            [0,0,0,0,0,0,0,0,0,0],
            [0,0,0,0,0,0,0,0,0,0],
            [0,0,0,0,0,0,0,0,0,0]
        ];
        localStorage.setItem("available", JSON.stringify(available));
        function ChangeColor(id)  
        {  
            //var available = parseInt(localStorage.available);
            available = JSON.parse(localStorage.getItem("available"));
            var index = id.split("-");
            if(available[index[0]][index[1]] == 0){
                document.getElementById(id).style.backgroundColor='Red';
                available[index[0]][index[1]] = 1;
                localStorage.setItem("available", JSON.stringify(available));
            }
            else {
                document.getElementById(id).style.backgroundColor='White';
                available[index[0]][index[1]] = 0;
                localStorage.setItem("available", JSON.stringify(available));
            }
        }

        function displayClass()
        {
            var parsed = "";
            var available = JSON.parse(localStorage.getItem("available"));
            for (i = 0; i< available.length; i++) {
                parsed = parsed + available[i] + "\n";
            }
            //parsed = parsed.replace(/\n/g, "<br />");

            var numTables = document.getElementById("numTables").value;
            var tableL = document.getElementById("tableL").value;
            var tableW = document.getElementById("tableW").value;
            var numChairs = document.getElementById("numChairs").value;
            //var numEquip = document.getElementById("numEquip").value;
            //var equipL = document.getElementById("equipL").value;
            //var equipW = document.getElementById("equipW").value;

            var numThings = tableL + "x" + tableW + " Tables = " + numTables + "\n";
            numThings = numThings + " Chairs = " + numChairs + "\n";
            //numThings = numThings + equipL + "x" + equipW + " Equipment = " + numEquip + "\n";

            alert(numThings + "Array = \n" + parsed);
        }
    </script> 
<div class="content-section">
    <p>
        Please select classroom constraints. 
        <br>
        White = the area is available.
        <br>
        Red = the area is unavailable (has a column or wall or something not-movable).
    </p>
    <div class='col-md-4'>Height</div><div><input type='number' id='tableHeight' value='10'/></div>
    <div class='col-md-4'>Width</div><div><input type='number' id='tableWidth' value='10'/></div>
    <div class='col-md-4'>Update</div><div><button id='tableUpdate'>Update</button></div>
    <table><tbody id="tbody"></tbody></table>
</div>
{% endfor %}
</div>
    <div class="col-md-4">
        <div class="content-section">
            <h3>Inputs</h3>
            <p class='text-muted'>Enter the number of tables and chairs
            <ul class="list-group">
                <form action=about/ method=POST id="form">
                    {% csrf_token %}
                    Tables<br>
                    <input name="numTables" placeholder="Enter number of Tables"/><br>
                    Length x Width of Tables<br>
                    <input name="tableL" placeholder="Length" style="width: 75px"/>
                    ft x
                    <input name="tableW" placeholder="Width" style="width: 75px"/>
                    ft
                    <br><br>
                    Chairs<br>
                    <input name="numChairs" placeholder="Enter number of Chairs"/>
                    <input type="hidden" name="available" value=""/>
                    <!--<br>
                        
                    <label>Equipment</label>
                    <input id="numEquip" placeholder="Enter number of Equipment" value="0"/>
                    <label>Length x Width of Equipment</label>
                    <div style="margin: 5px;">
                        <input id="equipL" placeholder="Length" style="width: 75px" value="0"/>
                        ft x
                        <input id="equipW" placeholder="Width" style="width: 75px" value="0"/>
                        ft
                    </div>
                    <br>-->
                    <br>
                    <br>
                    <input type="submit" id="submit">
                </form>
            </ul>
            </p>
        </div>
    </div>
    </div>
</main>

{% endblock content %}

{% block scripts %}

<script>
    function clickHandler(e) {
        ChangeColor(e.target.id);
    }
    $(document).ready(function() {

        buildTable(10, 10);
        
    });
    
    function buildTable(height, width) {
        $("#tbody").html('');
        $("#tbody").off("click", "td", clickHandler);
       /* $("#tbody td").on('click', e => {
             ChangeColor($(this).attr('id'))
        });*/
        

        for(var i = 0 ; i < height ; i++) {
            var tr = $("#tbody").append("<tr></tr>");
            for(var j = 0 ; j < width ; j++) {
                var td = tr.append(`<td id="${i}-${j}" style="height :25px; width 25px">&nbsp;</td>`);
                
            }
        }
        $("#tbody").on("click", "td", clickHandler);
    }
    
    document.getElementById("tableUpdate").addEventListener("click",
        e => { buildTable($("#tableHeight").val(), $("#tableWidth").val()) }
    )
    document.getElementById("submit").addEventListener("click", 
        e => {
            console.log(e); 
            $("input[name=available]").val(JSON.stringify(available));
           // e.preventDefault();
            /*
            var formData = {available: available,
                numTable: $("input[name=numTables]").val(),
                tableL: $("input[name=tableL]").val(),
                tableW: $("input[name=tableW]").val(),
                numChairs: $("input[name=numChairs]").val(),
            }*/
        });
    document.getElementById("form").addEventListener("sumbit",
    e =>  { e.preventDefault() })
</script>
{% endblock scripts %}